.cell {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
}

.cell p {
  margin: 0;
}

.response-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.response-buttons button {
  margin: 5px;
}

.cell.selected {
  background-color: #f0f0f0;
}

.response-buttons button:disabled {
  cursor: not-allowed;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
}

.error {
  color: red;
  font-size: 0.875em;
}